.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
  outline: 1px solid red;
  background-image: url("../assets/bg-img.jpg");
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 5rem;
  text-align: center;
  margin: 0.5rem;
  color: #eed8d8;
  -webkit-text-stroke: 1px rgb(72, 57, 57);
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}

.btn {
  padding: 1rem 2.5rem;
  border-radius: 2.5rem;
  border: none;
  background-color: #2f31ab87;
  color: #fff;
  font-weight: 700;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  outline: 5px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.bottom {
  width: 100vw;
  height: 30%;
  position: absolute;
  z-index: 2;
  background-color: #adc5d9;
  bottom: 0;
  left: 0;
  opacity: 0.15;
}
