.gallery-container {
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 80%;
}

.gallery-item {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}

.gallery-item img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}
